# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python tooling caches
.mypy_cache/
.pyre/
.ropeproject/

# macOS
.DS_Store

# MNIST downloaded data
mnist/MNIST